*, *::before, *::after{

   box-sizing: border-box;
   font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(244, 244, 238), rgba(5, 4, 50, 0.376));
}
.calculator-grid {
   display: grid;
   align-content: center;
   justify-content: center;
   min-height: 100vh;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: minmax(120px, auto);

}
.calculator-grid >button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px, solid;
    outline: none;
    background-color: D9D9D9;
   border-radius: 20%;
   margin:10px
}
.calculator-grid > button:hover {
    background-color: #a9a9a9;
   
  }
  .span-two {
    grid-column: span 1;
    grid-row: span 2;
    color: #adf802;
    background-color: rgba(0, 95, 139, 0.8);
  }
  .output{
    grid-column: 1/ -1;
    background-color:aliceblue;
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
    flex-direction:column;
    padding: 10px;
    word-wrap:break-word;
   word-break: break-all;
  }

  .output .previous-operand{
    color: aqua;
    font-size: 1.5rem;
  }
  .output .currant-operand{
    color: #adf802;
    font-size: 2.5rem;
  }